---
title: Input Group
styles: base/input.scss
info: Use Input Groups for prepending or appending text.
maturity: draft
---

<div class="p-1">
  <div class="form-group">
    <div class="form-label-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <div class="form-label-group-input">
        <input
          type="text"
          class="form-control"
          id="basicInput1"
          placeholder="Label"
          aria-label="Label"
          aria-describedby="basic-addon1"
        />
        <label for="basicInput1">Label</label>
      </div>
    </div>
    <small id="basicInputHelp1" class="form-text text-muted">Help text for this field.</small>
  </div>
  <div class="form-group">
    <div class="form-label-group">
      <div class="form-label-group-input">
        <input
          type="text"
          class="form-control"
          id="basicInput2"
          placeholder="Label"
          aria-label="Label"
          aria-describedby="basic-addon2"
        />
        <label for="basicInput2">Label</label>
      </div>
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">@example.com</span>
      </div>
    </div>
    <small id="basicInputHelp2" class="form-text text-muted"
      >Help text for this field.</small
    >
  </div>
</div>
