---
title: Basic Input
styles: base/input.scss
info: Inputs use floating labels for a more streamlined layout.
maturity: draft
---

<div class="p-1">
  <div class="form-group">
    <div class="form-label-group mb-0">
      <input
        type="text"
        id="basicInput"
        class="form-control"
        autofocus="autofocus"
        placeholder="label"
      />
      <label for="basicInput">Label</label>
    </div>
    <small id="basicInputHelp" class="form-text text-muted"
      >Help text for this field.</small
    >
  </div>
</div>
