---
title: Basic Input Readonly
styles: base/input.scss
info: Read-only text fields display pre-filled text that the user cannot edit
maturity: draft
---

<div class="p-1">
  <div class="form-group">
    <div class="form-label-group mb-0">
      <input
        type="text"
        id="basicInput"
        class="form-control"
        autofocus="autofocus"
        placeholder="label"
        value="Read-only field"
        readonly
      />
      <label for="basicInput">Label</label>
    </div>
    <small id="basicInputHelp" class="form-text text-muted">Help text for this field.</small>
  </div>
</div>
