---
title: Dropdown Input Group
styles: base/input.scss
info: Prepend a single dropdown button to apply categorization to an input field.
maturity: draft
---
<div class="p-1">
    <div class="form-group">
        <div class="form-label-group mb-0">
            <div class="form-label-group-input">
                <input type="text" id="buttonInputGroup1" class="form-control pr-0" placeholder="Label" />
                <label for="buttonInputGroup1" class="pr-0">Label</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group mb-0">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <div class="form-label-group-input">
                <input type="text" id="buttonInputGroup2" class="form-control" placeholder="Label" />
                <label for="buttonInputGroup2">Label</label>
            </div>
        </div>
    </div>
</div>
