---
title: Button Input Group
styles: base/input.scss
info: Input group with button add-ons.
maturity: draft
---
<div class="p-1">
    <div class="form-group">
        <div class="form-label-group mb-0">
            <div class="form-label-group-input">
                <input type="text" id="buttonInputGroup1" class="form-control" placeholder="Label" />
                <label for="buttonInputGroup1">Label</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Button</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group mb-0">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button"><i class="fal fa-eye-slash"></i></button>
                <button class="btn btn-outline-secondary" type="button"><i class="fal fa-copy"></i></button>
                <button class="btn btn-outline-secondary" type="button"><i class="fal fa-sync-alt"></i></button>
            </div>
            <div class="form-label-group-input">
                <input type="text" id="buttonInputGroup2" class="form-control" placeholder="Label" />
                <label for="buttonInputGroup2">Label</label>
            </div>
        </div>
    </div>
</div>
