---
title: Input with Icons
styles: base/input.scss
info: Place icon before
maturity: draft
---

<div class="p-1">
  <div class="form-group">
    <div class="form-label-group with-leading-icon">
      <div class="input-icon">
        <i class="material-icons material-icons-outlined ">favorite</i>
      </div>
      <div class="form-label-group-input">
        <input
          type="text"
          class="form-control"
          id="basicInput1"
          placeholder="Label"
          aria-label="Label"
          aria-describedby="basic-addon1"
        />
        <label for="basicInput1">Label</label>
      </div>
    </div>
    <small id="basicInputHelp" class="form-text text-muted">Help text for this field.</small>
  </div>
</div>
