---
title: Password Input
styles: base/input.scss
info: Password fields should always have a reveal (if possible).
maturity: draft
---
<div class="p-1">
    <div class="form-group">
        <div class="form-label-group mb-0">
            <div class="form-label-group-input">
                <input type="password" id="passwordInput" class="form-control border-right-0" placeholder="Password" />
                <label for="passwordInput">Password</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0" type="button"><i class="fal fa-eye-slash"></i></button>
            </div>
        </div>
    </div>
</div>
