---
title: Password Input
styles: base/input.scss
info: Password fields should always have a reveal and have their addon absolutely positioned to allow selection on entire component.
maturity: draft
---
<div class="p-1">

    <div class="form-group">
        <div class="form-label-group form-label-group-password">
            <div class="form-label-group-input">
                <input type="password" id="passwordInput" class="form-control" placeholder="Password" />
                <label for="passwordInput">Password</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="material-icons material-icons-outlined">visibility_off</i></button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group form-label-group-password">
            <div class="form-label-group-input">
                <input type="password" id="passwordInput1" class="form-control" placeholder="Password" value="Passw0rd" />
                <label for="passwordInput">Password</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="material-icons material-icons-outlined">visibility_off</i></button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group form-label-group-password">
            <div class="form-label-group-input">
                <input type="text" id="passwordInput1" class="form-control" placeholder="Password" value="Passw0rd" />
                <label for="passwordInput3">Password</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="material-icons material-icons-outlined">visibility</i></button>
            </div>
        </div>
    </div>
</div>
