---
title: Set Password Input
info: Use for setting passwords with policy enforcement. On success the policy requirements list are hidden and success alert fades in.
styles: base/input.scss
maturity: draft
---
<div class="p-1">
    <div class="form-group mb-5">
        <div class="form-label-group form-label-group-password">
            <div class="form-label-group-input">
                <input type="password" id="passwordInput" class="form-control" placeholder="Password" autofocus />
                <label for="passwordInput">Password</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="material-icons material-icons-outlined">visibility_off</i></button>
            </div>
        </div>
        <small id="setPasswordInputHelp" class="form-text text-muted py-2">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="pl-4">
                      <li>One lowercase character</li>
                      <li>One uppercase character</li>
                      <li>One number</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="pl-4">
                      <li>One special character (eg. !@#$%^&*)</li>
                      <li>8 characters minimum</li>
                    </ul>
                </div>
            </div>
        </small>
    </div>
    <div class="form-group mb-5">
        <div class="form-label-group form-label-group-password">
            <div class="form-label-group-input">
                <input type="password" id="passwordInput" class="form-control" placeholder="Password" value="P@s" />
                <label for="passwordInput">Password</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="material-icons material-icons-outlined">visibility_off</i></button>
            </div>
        </div>
        <small id="setPasswordInputHelp" class="form-text text-muted py-2">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="pl-4">
                      <li class="opacity-30">One lowercase character</li>
                      <li class="opacity-30">One uppercase character</li>
                      <li>One number</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="pl-4">
                      <li class="opacity-30">One special character (eg. !@#$%^&*)</li>
                      <li>8 characters minimum</li>
                    </ul>
                </div>
            </div>
        </small>
    </div>
    <div class="form-group mb-5">
        <div class="form-label-group form-label-group-password">
            <div class="form-label-group-input">
                <input type="password" id="passwordInput" class="form-control" placeholder="Password" value="P@ssw0rd" />
                <label for="passwordInput">Password</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="material-icons material-icons-outlined">visibility_off</i></button>
            </div>
        </div>
        <div class="alert alert-success my-4" role="alert">
            <i class="material-icons material-icons-outlined mr-3">check_circle</i>Your password is secure and you're all set!
        </div>
    </div>
</div>
