h1 {
  font-weight: $h1-font-weight;
}
h2 {
  font-weight: $h2-font-weight;
}
h3 {
  font-weight: $h3-font-weight;
}
h4 {
  font-weight: $h4-font-weight;
}
h5 {
  font-weight: $h5-font-weight;
}
h6 {
  font-weight: $h6-font-weight;
}
