html {
  line-height: 1.5;
}

body {
  line-height: 1.5;
  transition: margin 0.2s ease;
  > .app-sidebar {
    margin: 0 0 0 14.25rem;
  }
}

@include media-breakpoint-down(sm) {
  body {
    margin: 0 !important;
  }
}

body.sidebar-toggled-closed {
  margin: 0 0 0 $fr-sidebar-width-sm;
}
body .material-icons {
  font-size: 1.125rem;
  line-height: 1.244rem;
  vertical-align: middle;
}
