html {
  line-height: normal;
}

body {
  line-height: normal;
  margin: 0 0 0 13.25rem;
}

@include media-breakpoint-down(md) {
  body {
    margin: 0 0 0 $fr-sidebar-width-sm;
  }
}

@include media-breakpoint-down(sm) {
  body {
    margin: 0;
  }
}
