i.material-icons:before {
  display: none;
}
.navbar-sidebar {
  display: block;
  font-size: $fr-navbar-sidebar-fontsize;
  padding: 0;

  .navbar-nav {
    flex-direction: column;

    .nav-link {
      border-left: $fr-navbar-sidebar-dark-nav-link-border;
      display: flex;
      overflow: hidden;
      padding: $fr-navbar-sidebar-nav-link-padding;
      position: relative;
      transition: background-color 0.2s ease, border-left-color 0.35s ease;
      white-space: nowrap;
      > .material-icons {
        font-size: $fr-navbar-sidebar-icon-fontsize;
        line-height: 1.244;
      }
    }

    .dropdown-menu {
      background-color: transparent;
      border: none;
      display: block;
      font-size: 0.875rem;
      margin: 0;
      min-width: auto;
      padding: 0;
      position: initial;
      z-index: inherit;

      .nav-item {
        height: 0;
        overflow: hidden;
        transition: height 0.2s ease;
      }

      .nav-link {
        > span {
          margin-left: 2.15rem;
        }
      }

      &.show {
        .nav-item {
          height: 3.25rem;
        }
      }
    }
  }
}

.navbar-sidebar.navbar-dark {
  > .navbar-nav {
    > .nav-item {
      .nav-link {
        color: $fr-navbar-sidebar-dark-nav-link-color;
        &.active {
          border-left: $fr-navbar-sidebar-dark-nav-link-hover-border;
        }
        &.active,
        &:hover {
          background-color: $fr-navbar-sidebar-dark-nav-link-hover-bgcolor;
          color: $fr-navbar-sidebar-dark-nav-link-hover-color;
        }
      }
    }
  }
}
