.navbar {
  > .navbar-toggler {
    outline: none;
    position: absolute;
    left: 15.5rem;
    top: -3.375rem;
    transition: left 0.2s ease;
  }
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // overflow-y: auto;
}

.navbar-backdrop {
  @extend .modal-backdrop;
  display: none;
  opacity: 0;
  z-index: $zindex-sticky;
}

body.sidebar-toggled-mobile {
  .navbar > .navbar-toggler {
    display: none;
    left: 1.25rem;
  }

  .navbar-backdrop {
    display: block;
    opacity: 0.5;
    animation: fadein 0.5s;
  }
}
