.sidebar.sidebar-dark {
  background-color: $gray-800;
  height: 100vh;
  left: 0;
  position: fixed;
  z-index: $zindex-fixed;
}

.sidebar {
  box-shadow: $fr-navbar-sidebar-dark-box-shadow;
  transition: margin-left 0.2s ease, width 0.2s ease;
  width: 13.25rem;
}

.sidebar {
  > .dropdown > .media > .media-body {
    > h5,
    span {
      user-select: none;
      width: 6.25rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .sidebar:not(.sidebar-toggled):hover {
    width: $fr-sidebar-width-lg;
    .nav-link > span {
      display: block;
    }

    > .dropdown > .media > .dropdown-toggle {
      display: block;
    }

    .dropdown-toggle {
      &::after {
        display: block;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .sidebar:not(.sidebar-toggled) {
    width: $fr-sidebar-width-sm;

    > .dropdown > .media > .dropdown-toggle {
      display: none;
    }

    .nav-link > span {
      display: none;
    }

    .dropdown-toggle {
      &::after {
        display: none;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .sidebar {
    box-shadow: none;
    margin-left: -$fr-sidebar-width-sm;
  }
}
