.custom-switch {
  .custom-control-label {
    // Background-color and (when enabled) gradient
    &::before {
      height: $custom-control-indicator-size * 2;
    }
    &::after {
      background-color: $fr-custom-control-indicator-switch-handle-color;
    }
  }
  .custom-control-input:checked ~ .custom-control-label {
    &::after {
      transform: translateX($custom-switch-width - ($custom-control-indicator-size *2));
    }
  }
}
