.table {
  thead th {
    border-top: none;
    border-bottom: $fr-table-head-border solid $table-border-color;
    font-weight: $fr-table-head-weight;
  }
}

.toolbar {
  border-bottom: $fr-table-head-border solid $table-border-color;
  padding: 12px;
}
