---
title: Apps Table
info: Tables consist of a toolbar and a table component. Multiple items can be selected via optional checkboxes to apply contextual actions like <code>delete</code>, which appear only when applicable.
maturity: draft
---

<div class="card mx-1 mt-1 mb-5">
  <div class="btn-toolbar justify-content-between">
      <div>
          <div role="group" aria-label="Third group" class="btn-group mb-2 mb-sm-0 mr-1">
              <button data-backdrop="static" data-keyboard="false" id="btnNewApp" type="button" class="btn btn-primary">
                  <i class="material-icons material-icons-outlined mr-2">add</i>New Application
              </button>
          </div>
          <div role="group" class="btn-group mb-2 mb-sm-0 d-none">
              <button data-backdrop="static" data-keyboard="false" id="btnImportUsers" type="button" class="btn btn-outline-primary">
                  <i class="material-icons material-icons-outlined mr-2">delete</i>Delete
              </button>
          </div>
      </div>
      <div class="input-group input-group-search">
          <div class="input-group-prepend">
            <span class="input-group-text" id="search-addon1"><i class="material-icons material-icons-outlined">search</i></span>
          </div>
          <input type="text" class="form-control" id="searchInput1" placeholder="Search" aria-label="Label" aria-describedby="basic-addon1">
          <div class="input-group-append">
              <button class="btn btn-outline-secondary d-none" type="button"><i class="material-icons material-icons-outlined">close</i></button>
          </div>
      </div>
  </div>
  <table class="table table-hover table-responsive-sm">
    <thead>
        <tr>
            <th scope="col" class="py-2">User</th>
            <th scope="col" class="py-2">Status</th>
            <th scope="col" class="py-2"></th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1"></label>
            </div>
        </th>
        <td>GoGo iOS App</td>
        <td><span class="text-monospace">0oasdfasdfhalskbu854b</span></td>
        <td>
            <a href="#"><i class="material-icons material-icons-outlined text-muted float-right">more_horiz</i></a>
        </td>
      </tr>
      <tr>
        <th scope="row">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2"></label>
            </div>
        </th>
        <td>GoGo SPA App</td>
        <td><span class="text-monospace">0oasdfasdfhalskbu854b</span></td>
        <td>
            <a href="#"><i class="material-icons material-icons-outlined text-muted float-right">more_horiz</i></a>
        </td>
      </tr>
      <tr>
        <th scope="row">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck3">
                <label class="custom-control-label" for="customCheck3"></label>
            </div>
        </th>
        <td>Gogo Web App</td>
        <td><span class="text-monospace">0oasdfasdfhalskbu854b</span></td>
        <td>
            <a href="#"><i class="material-icons material-icons-outlined text-muted float-right">more_horiz</i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="card mx-1 mt-1 mb-5">
  <div class="btn-toolbar justify-content-between">
      <div>
          <div role="group" aria-label="Third group" class="btn-group mb-2 mb-sm-0 mr-1">
              <button data-backdrop="static" data-keyboard="false" id="btnNewApp" type="button" class="btn btn-primary">
                  <i class="material-icons material-icons-outlined mr-2">add</i>New Application
              </button>
          </div>
          <div role="group" class="btn-group mb-2 mb-sm-0">
              <button data-backdrop="static" data-keyboard="false" id="btnDeleteUsers" type="button" class="btn btn-outline-primary">
                  <i class="material-icons material-icons-outlined mr-2">delete</i>Delete
              </button>
          </div>
      </div>
      <div class="input-group input-group-search">
          <div class="input-group-prepend">
            <span class="input-group-text" id="search-addon1"><i class="material-icons material-icons-outlined">search</i></span>
          </div>
          <input type="text" class="form-control" id="searchInput1" placeholder="Search" aria-label="Label" aria-describedby="basic-addon1">
          <div class="input-group-append">
              <button class="btn btn-outline-secondary d-none" type="button"><i class="material-icons material-icons-outlined">close</i></button>
          </div>
      </div>
  </div>
  <table class="table table-hover table-responsive-sm">
    <thead>
      <tr>
        <th scope="col" width="16">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck0">
                <label class="custom-control-label" for="customCheck0"></label>
            </div>
        </th>
        <th scope="col">Name</th>
        <th scope="col">Client ID</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                <label class="custom-control-label" for="customCheck1"></label>
            </div>
        </th>
        <td>GoGo iOS App</td>
        <td><span class="text-monospace">0oasdfasdfhalskbu854b</span></td>
        <td>
            <a href="#"><i class="material-icons material-icons-outlined text-muted float-right">more_horiz</i></a>
        </td>
      </tr>
      <tr>
        <th scope="row">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2"></label>
            </div>
        </th>
        <td>GoGo SPA App</td>
        <td><span class="text-monospace">0oasdfasdfhalskbu854b</span></td>
        <td>
            <a href="#"><i class="material-icons material-icons-outlined text-muted float-right">more_horiz</i></a>
        </td>
      </tr>
      <tr>
        <th scope="row">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck3">
                <label class="custom-control-label" for="customCheck3"></label>
            </div>
        </th>
        <td>Gogo Web App</td>
        <td><span class="text-monospace">0oasdfasdfhalskbu854b</span></td>
        <td>
            <a href="#"><i class="material-icons material-icons-outlined text-muted float-right">more_horiz</i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
