---
title: Table
maturity: draft
---

<table class="table table-hover table-responsive-sm">
  <thead>
    <tr>
      <th scope="col"><input type="checkbox" /></th>
      <th scope="col">Name</th>
      <th scope="col">Client ID</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><input type="checkbox" /></th>
      <td>GoGo iOS App</td>
      <td><span class="text-monospace">0oasdfasdfhalskbu854b</span></td>
      <td>&#8226; &#8226; &#8226;</td>
    </tr>
    <tr>
      <th scope="row"><input type="checkbox" /></th>
      <td>GoGo SPA App</td>
      <td><span class="text-monospace">0oasdfasdfhalskbu854b</span></td>
      <td>&#8226; &#8226; &#8226;</td>
    </tr>
    <tr>
      <th scope="row"><input type="checkbox" /></th>
      <td>Gogo Web App</td>
      <td><span class="text-monospace">0oasdfasdfhalskbu854b</span></td>
      <td>&#8226; &#8226; &#8226;</td>
    </tr>
  </tbody>
</table>
