---
title: Table
maturity: draft
---

<div class="card m-4">
  <div class="btn-toolbar justify-content-between">
    <div class="btn-group">
      <button type="button" class="btn btn-primary">New Application</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon">@</div>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Input group example"
        aria-label="Input group example"
        aria-describedby="btnGroupAddon"
      />
    </div>
  </div>
  <table class="table table-hover table-responsive-sm">
    <thead>
      <tr>
        <th scope="col"><input type="checkbox" /></th>
        <th scope="col">Name</th>
        <th scope="col">Client ID</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><input type="checkbox" /></th>
        <td>GoGo iOS App</td>
        <td><span class="text-monospace">0oasdfasdfhalskbu854b</span></td>
        <td>&#8226; &#8226; &#8226;</td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox" /></th>
        <td>GoGo SPA App</td>
        <td><span class="text-monospace">0oasdfasdfhalskbu854b</span></td>
        <td>&#8226; &#8226; &#8226;</td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox" /></th>
        <td>Gogo Web App</td>
        <td><span class="text-monospace">0oasdfasdfhalskbu854b</span></td>
        <td>&#8226; &#8226; &#8226;</td>
      </tr>
    </tbody>
  </table>
</div>
