---
title: Switch
styles: components/switch.scss
maturity: draft
---
<div class="p-1">
    <div class="form-group">
      <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
      </div>
    </div>
    <div class="form-group">
      <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch2" checked>
          <label class="custom-control-label" for="customSwitch2">Toggle this switch element</label>
      </div>
    </div>
    <div class="form-group">
      <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch3" disabled>
          <label class="custom-control-label" for="customSwitch3">Disabled switch</label>
      </div>
    </div>
    <div class="form-group">
      <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch4" disabled checked>
          <label class="custom-control-label" for="customSwitch4">Disabled and selected switch</label>
      </div>
    </div>
</div>
