---
title: Email Sent
styles: components/signin.scss
info: Password reset email send success.
maturity: draft
---
<div class="p-1">
  <div class="card" style="width: 420px">
    <div class="card-header text-center pt-5 pr-5 pb-0 pl-5">
      <img
        class="mb-3"
        src="/styleguide/branding/svg/fr-logomark.svg"
        width="40"
        alt="logo"
      />
      <h2>Check your email</h2>
    </div>
    <div class="card-body pr-5 pb-5 pl-5">
      <p class="text-center mb-4">We just sent an email with password reset instructions to your registered address.</p>
      <div class="alert alert-success d-none" role="alert">
        <div class="media">
          <i class="material-icons material-icons-outlined mr-3">check_circle</i>
          <div class="media-body">
            <h5>Success!</h5>
            We just sent an email with password reset instructions to your registered address.
          </div>
        </div>
      </div>
      <button class="btn btn btn-block btn-primary" type="submit">
        Return to sign in
      </button>
    </div>
  </div>
</div>
