---
title: Sign In
styles: components/signin.scss
info: Page used to sign in admins to the Admin UI.
maturity: draft
---
<div class="container-fluid px-0 h-100 d-flex">
    <div class="fr-m-auto fr-center-card align-self-center">
        <div class="card border-xs-0 border-sm d-flex fr-stretch-card">
            <div class="card-header d-flex align-items-center flex-fill">
                <div class="d-flex flex-fill flex-column justify-content-center">
                    <img src="/styleguide/branding/svg/fr-logomark.svg" alt="logo" class="fr-logo mb-3 mt-2 img-fluid" />
                    <div>
                        <h2 class="h2">Sign In</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form class="form-signin mb-3">
                    <div class="mb-3">
                        <div class="form-label-group mb-0">
                            <input aria-invalid="false" aria-required="false" autofocus="autofocus" class="polyfillPlaceholder form-control" data-vv-as="Username" data-vv-id="1" data-vv-validate-on="submit" id="floatingLabelInput13" name="username" placeholder="Username" type="text"> <!----> <label for="floatingLabelInput13">Username</label>
                        </div>
                        <div class="fr-validation-requirements text-left" style="display: none;">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-label-group form-label-group-password">
                            <div class="form-label-group-input">
                                <input type="password" id="passwordInput" class="form-control" placeholder="Password" />
                                <label for="passwordInput">Password</label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"><i class="material-icons material-icons-outlined">visibility_off</i></button>
                            </div>
                        </div>
                        <div class="fr-validation-requirements text-left" style="display: none;">
                            <span class="text-danger"></span>
                        </div>
                    </div><button class="btn btn btn-block btn-primary" type="submit">Sign In</button>
                </form>
                <p class="text-center"><!----> <!----> <!----></p>
            </div>
        </div>
    </div>
</div>
