---
title: Nav Column
info: Nav info here
maturity: draft
---

<ul class="nav nav-sidebar w-100 flex-column">
  <li class="nav-item">
    <a href="#" class="nav-link">
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link">
      <span>Applications</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link">
      <span>Users</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link">
      <span>Authentication</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link">
      <span>Email</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle">
      <span>Hosted Pages</span>
    </a>
    <div class="dropdown-menu">
      <ul class="flex-column w-100 nav">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span>Sign In/Sign Up</span>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle">
      <span>Configure</span>
    </a>
    <div class="dropdown-menu">
      <ul class="flex-column w-100 nav">
        <li class="nav-item">
          <a href="#" class="d-flex nav-link">
            <span>Password Policy</span>
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>
