---
title: Nav
info: Nav info here
maturity: draft
---

<ul class="nav nav-sidebar w-100">
  <li class="nav-item">
    <a href="#" class="nav-link">
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link">
      <span>Applications</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link">
      <span>Users</span>
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link">
      <span>Authentication</span>
    </a>
  </li>
</ul>
