---
title: Checkbox Button
styles: components/button.scss
info: Use checkbox buttons to bring emphasis to selection items.
maturity: draft
---
<div class="btn-group-toggle d-inline-block" data-toggle="buttons">
  <label class="btn btn-outline-secondary">
    <input type="checkbox" autocomplete="off">Not Checked
  </label>
</div>
<div class="btn-group-toggle d-inline-block" data-toggle="buttons">
  <label class="btn btn-outline-secondary active">
    <input type="checkbox" checked autocomplete="off">Checked
  </label>
</div>
