---
title: Disabled Button
styles: components/button.scss
maturity: draft
---
<button type="button" class="btn btn-link" disabled>Link Button</button>
<button type="button" class="btn btn-outline-secondary" disabled>Neutral Button</button>
<button type="button" class="btn btn-outline-primary" disabled>Outline Primary Button</button>
<button type="button" class="btn btn-primary" disabled>Primary Button</button>
<button type="button" class="btn btn-danger" disabled>Destructive Button</button>
<button type="button" class="btn btn-outline-danger" disabled>Outline Destructive Button</button>
