@keyframes dropfadein {
  0% {
    opacity: 0;
  }
  1% {
    display: block;
    top: 50%;
    opacity: 0;
  }
  100% {
    top: 75%;
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms;
}
