%svg-common {
	background: url("/img/sprite-b12f432c.svg") no-repeat;
}

.svg-src--svg--native {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-src--svg--native-dims {
	width: 46px;
	height: 54px;
}

.svg-src--svg--service {
	@extend %svg-common;
	background-position: 51.111111111111114% 0;
}

.svg-src--svg--service-dims {
	width: 51px;
	height: 54px;
}

.svg-src--svg--web {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-src--svg--web-dims {
	width: 44px;
	height: 54px;
}

