.navbar-sidebar {
  display: block;
  font-size: $fr-navbar-sidebar-fontsize;
  overflow: auto;
  padding: 0;

  .navbar-nav {
    flex-direction: column;
  }

  .nav-link {
    border-left: $fr-navbar-sidebar-dark-nav-link-border;
    display: flex;
    height: 3.25rem;
    padding: $fr-navbar-sidebar-nav-link-padding;
    position: relative;
    transition: background-color, color 0.2s ease;
    > .material-icons {
      font-size: $fr-navbar-sidebar-icon-fontsize;
      line-height: 23px;
    }
  }

  @media (max-width: map-get($container-max-widths, 'lg')) {
    .nav-link > span {
      display: none;
    }
  }

  .dropdown-menu {
    background-color: transparent;
    border: none;
    display: block;
    font-size: 0.875rem;
    height: 0;
    margin: 0;
    padding: 0;
    transition: height 0.2s ease;

    &.show {
      height: 52px;
      .nav-link {
        display: block;
      }
    }

    .nav-link {
      display: none;
      > span {
        margin-left: 2.15rem;
      }
    }
  }

  .dropdown-toggle {
    &::after {
      border: none;
      content: 'expand_more';
      font-family: 'Material Icons Outlined';
      margin: 0;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
    &[aria-expanded='true'] {
      &::after {
        content: 'expand_less';
      }
    }
  }
}

.navbar-sidebar.navbar-dark {
  > .navbar-nav {
    > .nav-item {
      .nav-link {
        color: $fr-navbar-sidebar-dark-nav-link-color;
        &.active {
          border-left: $fr-navbar-sidebar-dark-nav-link-hover-border;
        }
        &.active,
        &:hover {
          background-color: $fr-navbar-sidebar-dark-nav-link-hover-bgcolor;
          color: $fr-navbar-sidebar-dark-nav-link-hover-color;
        }
      }
    }
  }
}
