$medium: map-get($container-max-widths, 'md');
$large: map-get($container-max-widths, 'lg');

.sidebar.sidebar-dark {
  background-color: $gray-800;
  height: 100vh;
  max-width: 13.25rem;
  position: fixed;
}

@media (max-width: $medium) {
  .sidebar {
    margin-left: -$sidebar-width-sm;
  }
}

@media (max-width: $large) {
  .sidebar {
    width: $sidebar-width-sm;
    &:hover {
      width: $sidebar-width-lg;
      .nav-link > span {
        display: block;
      }
    }
  }
}
