.fr-sidebar {
    padding-bottom: 41px;
    top: 0;
    width: $fr-sidebar-nav-width;
    height: 100%;
    margin-left: -$fr-sidebar-nav-width;
    overflow: visible;
    background: #fff;
    z-index:2500;
    -webkit-transition: margin-left .15s ease-out;
    transition: margin-left .15s ease-out;
    @media (min-width: 768px) {
        width: $fr-sidebar-nav-minimized-width;
        margin-left: 0;
        -webkit-box-shadow: 1px 0px 9px rgba(0, 0, 0, 0.13);
        -moz-box-shadow: 1px 0px 9px rgba(0, 0, 0, 0.13);
        box-shadow: 1px 0px 9px rgba(0, 0, 0, 0.13);
        .sidebar-brand-logo {
            display: none;
        }
        .sidebar-brand-mark {
            display: block;
        }
        .sidebar-item-text {
            display: none;
        }
        &:hover {
            margin-left: 0;
            width: $fr-sidebar-nav-width;
            .sidebar-nav {
                width: $fr-sidebar-nav-width;
                &> li > a.dropdown-toggle::after {
                    display: block;
                }
                &> li > a.submenu-toggle {
                    &:after {
                        display: block;
                    }
                }
                > li > ul {
                    display: block;
                }
            }
            .sidebar-item-text {
                display: inline;
            }
            .submenu-toggle {
                &:after {
                    display: block;
                }
            }
            .btn-account,
            .btn.dropdown-toggle {
                &:after {
                    content: "\F107";
                    position: absolute;
                    font-family: "Font Awesome 5 Pro";
                    right: 8px;
                    top: 25px;
                    width: 15px;
                    height: 15px;
                    font-size: .875rem;
                    border: none;
                    display: inline-block;
                }
            }
        }
    }
    &> a {
        text-align: left;
    }
    .sidebar-brand-logo {
        display: none;
    }
    .btn-account,
    .btn.dropdown-toggle {
        width: 100%;
        height: 100%;
        padding: 10px 12px;
        background-color: transparent;
        display: block;
        border-radius: 0;
        &:after {
            display: none;
        }
    }
    .sidebar-nav {
        position: absolute;
        top: 0;
        width: $fr-sidebar-nav-width;
        margin: 0;
        padding: 0;
        list-style: none;
        height: 100%;
        font-size: .875rem;
        @media (min-width: 768px) {
            width: $fr-sidebar-nav-minimized-width;
        }
        > .sidebar-brand {
            height: 4.5rem;
            height: 72px;
            background-color: #fff;
            width: 100%;
            top: 0;
            > a {
                color: $gray-700;
                width: 100%;
                height: 100%;
                padding: 17px 30px 17px 13px;
                border-left: none;
                &:hover {
                  color: $gray-800;
                  background: #fff;
                }
                &:after {
                  display: none;
                }
            }
            .sidebar-item-text,
            h5 {
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .sidebar-item-text {
                color: $gray-700;
            }
        }
        > li > a {
            color: $gray-700;
            display: block;
            position: relative;
            border-left: 3px solid transparent;
            text-decoration: none;
            padding: 10px 20px 10px 16px;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;

            &.router-link-active,
            &.router-link-exact-active {
                color: $gray-800;
                background: #e4f4fd;
                border-left-color: $primary;
            }
            &:hover {
              color: $gray-800;
              background: #e4f4fd;
            }
            &.submenu-toggle {
                &:after {
                    content: "\F107";
                    position: absolute;
                    font-family: "Font Awesome 5 Pro";
                    right: 11px;
                    top: 11px;
                    display: none;
                }
                &[aria-expanded="true"]:after {
                    content: "\F106";
                }
            }
        }
        > li > .submenu > ul {
            list-style: none;
            > li > a {
                color: $gray-700;
                display: block;
                position: relative;
                border-left: 3px solid transparent;
                text-decoration: none;
                padding: 10px 20px 10px 50px;
                &.router-link-active {
                    color: $gray-800;
                    background: #e4f4fd;
                    border-left-color: $primary;
                }
                &:hover {
                    color: $gray-800;
                    background: #e4f4fd;
                }
            }
            &.collapsing {
                -webkit-transition: height .15s ease;
                -o-transition: height .15s ease;
                transition: height .15s ease;
            }
        }
        > .sidebar-divider {
            width: 100%;
            height: 1px;
            background-color: $gray-200;
        }
        .dropdown-menu {
          font-size: .875rem;
        }
    }
    .sidebar-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid $gray-200;
        background-color: $white;
        > a {
            display: block;
            font-size: .875rem;
            color: $gray-700;
            padding: 10px 20px 10px 19px;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            &:hover {
                color: $gray-800;
                background: #e4f4fd;
                text-decoration: none;
            }
        }
    }
}
.fr-sidebar-dark {
    .sidebar-nav {
        > li > a {
            color: $gray-400;
            &.router-link-active {
                color: $white;
                background: $gray-900;
                border-left-color: $primary;
            }
            &:hover {
                color: $white;
                background: $gray-900;
                text-decoration: none;
            }
        }
        .sidebar-brand {
            .sidebar-item-text {
                color: $gray-300;
            }
        }
        .btn-account,
        .btn.dropdown-toggle {
            background-color: $dark;
            color: $gray-400;
            h5 {
                color: $white;
            }
        }
        > .sidebar-divider {
            background-color: $gray-600;
        }
        > li > div > ul {
            > li > a {
                color: $gray-400;
                &.router-link-active {
                    color: $white;
                    background: $gray-900;
                    border-left-color: $primary;
                }
                &:hover {
                    color: $white;
                    background: $gray-900;
                }
            }
        }
    }
    .sidebar-bottom {
        background-color: $dark;
        border-top-color: $gray-600;
        > a {
            color: $gray-400;
            &:hover {
                color: $gray-300;
                background: $gray-900;
                text-decoration: none;
            }
        }
    }

}
.toggled {
    > .fr-sidebar {
        width: $fr-sidebar-nav-width;
        margin-left: 0;
        -webkit-box-shadow: 1px 0px 9px rgba(0, 0, 0, 0.13);
        -moz-box-shadow: 1px 0px 9px rgba(0, 0, 0, 0.13);
        box-shadow: 1px 0px 9px rgba(0, 0, 0, 0.13);
        .btn-account,
        .btn.dropdown-toggle {
            padding: 10px 30px 10px 12px;
            &:after {
              content: "\F107";
              position: absolute;
              font-family: "Font Awesome 5 Pro";
              right: 11px;
              top: 25px;
              width: 15px;
              height: 15px;
              font-size: .875rem;
              border: none;
              display: inline-block;
            }
        }
        .sidebar-brand-logo {
            display: none;
        }
        .sidebar-brand-mark {
            display: block;
        }
        .sidebar-nav {
            width: $fr-sidebar-nav-width;
            > li > a.dropdown-toggle {
                &:after {
                    display: block;
                }
            }
            > li > a.submenu-toggle {
                &:after {
                    display: block;
                }
            }
        }
        .submenu-toggle {
            &:after {
                display: block;
            }
        }
        .sidebar-item-text {
            display: inline;
        }
        @media (min-width: 768px) {

        }
    }
    .sidebar-overlay {
        @media (max-width: 767px) {
            opacity: .2;
            margin-left:0;
        }
    }
}
.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
}
