---
title: Basic Dropdown
styles: base/dropdown.scss
maturity: draft
---
<div class="p-1">
    <div class="form-group">
      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="true">
            Dropdown button
          </button>
          <div class="dropdown-menu show" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
      </div>
    </div>
</div>
