---
title: Media Dropdown
maturity: draft
---

<div class="m-4">
  <div class="dropdown dropdown-dark dropdown-media bg-dark">
    <div class="media">
      <img
        src="/styleguide/images/avatar.svg"
        class="mr-3"
        height="34"
        width="34"
      />
      <div class="media-body">
        <h5 class="m-0 dropdown-toggle">Rock Financial</h5>
        Barbara Jensen
      </div>
    </div>
    <div class="dropdown-menu show" aria-labelledby="dropdownMenuButton">
      <h5 class="dropdown-item-text m-0">
        <span>Rock Financial</span>
        <small>Developer Edition</small>
      </h5>
      <a class="dropdown-item dropdown-item-icontext d-flex" href="#">
        <i class="material-icons material-icons-outlined mr-2">settings</i>
        <span>Environment Settings</span>
      </a>
      <a class="dropdown-item d-flex dropdown-item-icontext" href="#">
        <i class="material-icons material-icons-outlined mr-2">360</i>
        <span>Switch Environment</span>
      </a>
      <div class="dropdown-divider"></div>
      <h5 class="dropdown-item m-0">
        <span>Rock Financial</span>
        <small>Barbara Jensen</small>
      </h5>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item d-flex dropdown-item-icontext" href="#">
        <i class="material-icons material-icons-outlined mr-2">exit_to_app</i>
        <span>Sign Out</span>
      </a>
    </div>
  </div>
</div>
