.fade-appear,
.fade-appear-active,
.fade-appear-done,
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1 !important;
  transition: opacity 300ms;
}

.fade-enter-done {
  opacity: 1 !important;
}

.fade-exit-done {
  opacity: 0 !important;
}

@keyframes dropfadein {
  0% {
    opacity: 0;
  }

  1% {
    display: block;
    top: 50%;
    opacity: 0;
  }

  100% {
    top: 75%;
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animate-fixed-bottom-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-fixed-bottom-left {
  animation: animate-fixed-bottom-left 0.5s;
}

.alert-transition-enter {
  transform: translateX(-100%);
}

.alert-transition-enter-active {
  transform: translateX(0);
  transition: transform 500ms;
}

.alert-transition-exit-active {
  opacity: 1;
}

.alert-transition-exit {
  opacity: 0;
  transition: opacity 500ms;
}

.alert-transition-exit-done {
  display: none;
}
