.fixed-bottom-right {
  bottom: $spacer * $fr-fixed-position-offset;
  position: fixed;
  right: $spacer * $fr-fixed-position-offset;
  z-index: $zindex-fixed;
}

.fixed-bottom-left {
  bottom: $spacer * $fr-fixed-position-offset;
  left: $spacer * $fr-fixed-position-offset;
  position: fixed;
  z-index: $zindex-fixed;
}

.fixed-top-left {
  left: $spacer * $fr-fixed-position-offset;
  position: fixed;
  top: $spacer * $fr-fixed-position-offset;
  z-index: $zindex-fixed;
}

.fixed-top-right {
  right: $spacer * $fr-fixed-position-offset;
  position: fixed;
  top: $spacer * $fr-fixed-position-offset;
  z-index: $zindex-fixed;
}
