.sidebar-content-margin {
  margin: 0 0 0 $fr-sidebar-width-lg;
}

body.sidebar-toggled-closed .sidebar-content-margin {
  margin: 0 0 0 $fr-sidebar-width-sm;
}

@include media-breakpoint-down(sm) {
  body .sidebar-content-margin {
    margin: 0 !important;
  }
}

.sidebar.sidebar-dark {
  background-color: $gray-800;
}

body.sidebar-toggled-open .sidebar-content-margin .sidebar {
  @include sidebar-toggle('open');
}

body.sidebar-toggled-closed .sidebar-content-margin .sidebar {
  @include sidebar-toggle('closed');
  &:hover {
    @include sidebar-toggle('open');
  }
}

.sidebar {
  box-shadow: $fr-navbar-sidebar-dark-box-shadow;
  height: 100vh;
  left: 0;
  position: fixed;
  transition: margin-left 0.2s ease, width 0.2s ease;
  z-index: $zindex-fixed;
}

.sidebar {
  > .dropdown > .media > .media-body {
    > h5,
    span {
      user-select: none;
      width: 7.5rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  body .sidebar-content-margin .sidebar {
    @include sidebar-hidden;
  }

  body.sidebar-toggled-mobile .sidebar-content-margin .sidebar {
    @include sidebar-toggle('open');
    box-shadow: $fr-navbar-sidebar-dark-box-shadow;
    margin-left: 0;
  }
}
